In [1]:
age = int(input("input your age?"))
if age > 18:
    print("up 18")
elif age >= 12:
    print("12< age <= 18")
else:
    print('age < 12')

up 18

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(1,5):
    print(i)

1
2
3
4

In [6]:
for i in range(1,5,2):
    print(i)

1
3

In [7]:
while(True):
    value = input("please input int,if press 'q' exit")
    if value == 'q':
        break
    elif int(value) % 2 == 1:
        continue
    else:
        print("value ** 2=%d" % int(value) ** 2 )

please input int,if press 'q' exit5
please input int,if press 'q' exit6
value ** 2=36
please input int,if press 'q' exit3
please input int,if press 'q' exit2
value ** 2=4
please input int,if press 'q' exitq

In [9]:
values = ("robert", 78, 90, 57)
name, math, chinese, english = values
print(name)
print(math)
print(chinese)
print(english)

robert
78
90
57

In [11]:
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日'] 
print(weekdays)
print(type(weekdays))

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
<class 'list'>

In [13]:
for day in weekdays:
    print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [15]:
for i in range(7):
    print(weekdays[i])

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [16]:
codes = {
"tw": "Taiwan",
"jp": "japan",
"hk": "Hong Kong"
 } 

for item in codes:
    print(item)

tw
jp
hk

In [18]:
for key,value in codes.items():
    print(key,value)

tw Taiwan
jp japan
hk Hong Kong

In [19]:
odd = {1, 3, 5, 5, 7, 9}
print(odd)

{1, 3, 5, 7, 9}

In [20]:
for i in list(odd):
    print(i)

1
3
5
7
9

In [34]:
from random import randint
lot = set()
while(len(lot) < 7):
    lot.add(randint(1,49))
    
print(lot)

{35, 39, 40, 41, 43, 48, 16}

In [39]:
from random import randint

students  = list()
for i in range(50):
    scores = {'name':'stu' + str(i+1), 'id':'A00' + str(i+1), 'math': randint(50,100) , 'english':randint(50,100), 'chinese':randint(50,100)}
    students.append(scores)


for item in students:
    print(item)

{'name': 'stu1', 'id': 'A001', 'math': 88, 'english': 57, 'chinese': 81}
{'name': 'stu2', 'id': 'A002', 'math': 99, 'english': 86, 'chinese': 59}
{'name': 'stu3', 'id': 'A003', 'math': 57, 'english': 89, 'chinese': 73}
{'name': 'stu4', 'id': 'A004', 'math': 79, 'english': 84, 'chinese': 86}
{'name': 'stu5', 'id': 'A005', 'math': 53, 'english': 71, 'chinese': 83}
{'name': 'stu6', 'id': 'A006', 'math': 85, 'english': 59, 'chinese': 80}
{'name': 'stu7', 'id': 'A007', 'math': 64, 'english': 62, 'chinese': 78}
{'name': 'stu8', 'id': 'A008', 'math': 91, 'english': 99, 'chinese': 94}
{'name': 'stu9', 'id': 'A009', 'math': 100, 'english': 69, 'chinese': 83}
{'name': 'stu10', 'id': 'A0010', 'math': 85, 'english': 55, 'chinese': 51}
{'name': 'stu11', 'id': 'A0011', 'math': 70, 'english': 54, 'chinese': 83}
{'name': 'stu12', 'id': 'A0012', 'math': 52, 'english': 65, 'chinese': 55}
{'name': 'stu13', 'id': 'A0013', 'math': 83, 'english': 83, 'chinese': 69}
{'name': 'stu14', 'id': 'A0014', 'math': 93, 'english': 65, 'chinese': 63}
{'name': 'stu15', 'id': 'A0015', 'math': 83, 'english': 82, 'chinese': 52}
{'name': 'stu16', 'id': 'A0016', 'math': 76, 'english': 98, 'chinese': 89}
{'name': 'stu17', 'id': 'A0017', 'math': 99, 'english': 59, 'chinese': 100}
{'name': 'stu18', 'id': 'A0018', 'math': 51, 'english': 97, 'chinese': 87}
{'name': 'stu19', 'id': 'A0019', 'math': 84, 'english': 51, 'chinese': 93}
{'name': 'stu20', 'id': 'A0020', 'math': 72, 'english': 66, 'chinese': 100}
{'name': 'stu21', 'id': 'A0021', 'math': 73, 'english': 52, 'chinese': 79}
{'name': 'stu22', 'id': 'A0022', 'math': 64, 'english': 59, 'chinese': 54}
{'name': 'stu23', 'id': 'A0023', 'math': 63, 'english': 63, 'chinese': 96}
{'name': 'stu24', 'id': 'A0024', 'math': 85, 'english': 94, 'chinese': 99}
{'name': 'stu25', 'id': 'A0025', 'math': 63, 'english': 67, 'chinese': 80}
{'name': 'stu26', 'id': 'A0026', 'math': 68, 'english': 76, 'chinese': 72}
{'name': 'stu27', 'id': 'A0027', 'math': 53, 'english': 98, 'chinese': 54}
{'name': 'stu28', 'id': 'A0028', 'math': 80, 'english': 56, 'chinese': 90}
{'name': 'stu29', 'id': 'A0029', 'math': 55, 'english': 56, 'chinese': 53}
{'name': 'stu30', 'id': 'A0030', 'math': 72, 'english': 65, 'chinese': 56}
{'name': 'stu31', 'id': 'A0031', 'math': 52, 'english': 82, 'chinese': 52}
{'name': 'stu32', 'id': 'A0032', 'math': 67, 'english': 62, 'chinese': 68}
{'name': 'stu33', 'id': 'A0033', 'math': 89, 'english': 65, 'chinese': 95}
{'name': 'stu34', 'id': 'A0034', 'math': 89, 'english': 59, 'chinese': 73}
{'name': 'stu35', 'id': 'A0035', 'math': 96, 'english': 55, 'chinese': 100}
{'name': 'stu36', 'id': 'A0036', 'math': 95, 'english': 76, 'chinese': 61}
{'name': 'stu37', 'id': 'A0037', 'math': 86, 'english': 99, 'chinese': 66}
{'name': 'stu38', 'id': 'A0038', 'math': 84, 'english': 58, 'chinese': 56}
{'name': 'stu39', 'id': 'A0039', 'math': 88, 'english': 93, 'chinese': 84}
{'name': 'stu40', 'id': 'A0040', 'math': 83, 'english': 87, 'chinese': 50}
{'name': 'stu41', 'id': 'A0041', 'math': 59, 'english': 85, 'chinese': 61}
{'name': 'stu42', 'id': 'A0042', 'math': 59, 'english': 83, 'chinese': 76}
{'name': 'stu43', 'id': 'A0043', 'math': 95, 'english': 63, 'chinese': 72}
{'name': 'stu44', 'id': 'A0044', 'math': 80, 'english': 86, 'chinese': 91}
{'name': 'stu45', 'id': 'A0045', 'math': 94, 'english': 95, 'chinese': 73}
{'name': 'stu46', 'id': 'A0046', 'math': 58, 'english': 88, 'chinese': 95}
{'name': 'stu47', 'id': 'A0047', 'math': 88, 'english': 60, 'chinese': 58}
{'name': 'stu48', 'id': 'A0048', 'math': 77, 'english': 57, 'chinese': 63}
{'name': 'stu49', 'id': 'A0049', 'math': 77, 'english': 66, 'chinese': 62}
{'name': 'stu50', 'id': 'A0050', 'math': 72, 'english': 70, 'chinese': 98}