In [3]:
age = int(input("input your age?"))
if age > 18:
    print("up 18")
elif age >= 12:
    print("12< age <= 18")
else:
    print('age < 12')

input your age?17
12< age <= 18

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(1,5):
    print(i)

1
2
3
4

In [6]:
for i in range(1,5,2):
    print(i)

1
3

In [7]:
while(True):
    value = input("please input int,if press 'q' exit")
    if value == 'q':
        break
    elif int(value) % 2 == 1:
        continue
    else:
        print("value ** 2=%d" % int(value) ** 2 )

please input int,if press 'q' exit5
please input int,if press 'q' exit6
value ** 2=36
please input int,if press 'q' exit3
please input int,if press 'q' exit2
value ** 2=4
please input int,if press 'q' exitq

In [9]:
values = ("robert", 78, 90, 57)
name, math, chinese, english = values
print(name)
print(math)
print(chinese)
print(english)

robert
78
90
57

In [11]:
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日'] 
print(weekdays)
print(type(weekdays))

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
<class 'list'>

In [13]:
for day in weekdays:
    print(day)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [15]:
for i in range(7):
    print(weekdays[i])

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [16]:
codes = {
"tw": "Taiwan",
"jp": "japan",
"hk": "Hong Kong"
 } 

for item in codes:
    print(item)

tw
jp
hk

In [18]:
for key,value in codes.items():
    print(key,value)

tw Taiwan
jp japan
hk Hong Kong

In [19]:
odd = {1, 3, 5, 5, 7, 9}
print(odd)

{1, 3, 5, 7, 9}

In [20]:
for i in list(odd):
    print(i)

1
3
5
7
9